<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{Post.name}}</title>
</head>
<body>
    <form action="/update" method="post">
        <input type="hidden" name="id" value="{{posts.id}}">
        <input type="text" name="name" placeholder="name" value="{{posts.name}}">
        <input type="date" name="date" value="{{posts.date}}">
        <input type="text" name="teg" placeholder="teg" value="{{posts.teg}}">
        <input type="text" name="text" placeholder="text" value="{{posts.text}}">
        <button type="submit">Save</button>
    </form>

 

</body>
</html>